<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
    <body>
        <div>
            <div>
                <h1>登录</h1>
                <form id="command_form" method="POST" action="http://112.74.41.122:5000/user/login">
                    <div>
                        <input name="username" type="text" placeholder="username" value="{{ username }}">
<!--                        <span>@</span>-->
                        <br>
                        <input name="pwd" type="text" placeholder="passwd" value="{{ pwd }}">
                        <span>
                            <input name="submit" type="submit" value="执行" />
                        </span>
                    </div>
                </form>
            </div>
            <div id="result">
                <h3>命令结果</h3>
                <textarea rows="10" cols="50">
{% if result %}
    {{ result }}
{% endif %}
                </textarea>
            </div>
        </div>
    </body>
</html>